@import 'layout/header','layout/payment','layout/shop';
@import 'base/typography';
@import 'abstracts/variables','abstracts/mixins';
@import 'components/buttons';

body {
  background: radial-gradient(circle, #3e3d6e 62%, #25234a 100%);
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: scroll;
}

.App {
  padding: 45px;
}

nav {
  height: 65px;
}

nav a {
  margin-right: 25px;
}

main {
display: block;

  // 1400px window width and more
    @include rwd(1400) {
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-gap: 4em;
      max-width: 1500px;
      margin: 0 auto;
    }
}

.ProductList {
  display: block;

    // 576px window width and more
    @include sm {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 4em;
    }
    // 992px window width and more
    @include lg {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 4em;
    }
}

// .Product {
//   padding: 25px;
//   position: relative;
//   height: 600px;
//   border: 1px solid #0a0a0a;
// }

.filternav {
  padding-left: 0;
}

// .filternav button {
//   padding: 5px 18px;
//   border: none;
//   color: #fff;
//   background-color: #0a0a0a;
//   cursor: pointer;
// }

.product_img img {
  cursor: pointer;
  width: 100%;
}

.Product .counter {
  position: absolute;
  right: 35px;
  bottom: 35px;
}

.counterNumber {
  position: relative;
  font-size: 18px;
  top: 5px;
  left: 15px;
}

.ProductPrice {
  position: absolute;
  left: 30px;
  bottom: 40px;
  font-size: 18px;
  color: $black;
  letter-spacing: 1px;
  font-family: 'Jost', sans-serif;
}

// .Basket {
//   background-color: #fff;
//   border: 1px solid #0a0a0a;
//   padding: 25px;
//   position: relative;
// }

.Basket ul {
  margin-left: -40px;
  list-style: none;
  margin-top: 35px;
}

.BasketItem {
  position: relative;
  margin-bottom: 25px;

  .counter {
    position: absolute;
    top: 22px;
    left: 80px;
  }

  .counter button {
    background-color: transparent;
    border: none;
    color: $white;
    cursor: pointer;
    padding: 0;
    font-size: 17px;
    width: 25px;
  }

  .counter input {
    font-size: 15px;
    width: 25px;
  }

  .BasketItemPrice {
    position: absolute;
    top: 32px;
    right: 0px;
    font-size: 15px;
    letter-spacing: 1px;
    color: $white;
    opacity: 0.9;
    font-family: 'Jost',sans-serif;
  }
}

.BasketItem img {
  display: block;
}

.BasketItemImg {
  display: inline-block;
  margin-right: 20px;

  img {
    border-radius: 50%;
  }
}

.BasketItemHeading {
  position: absolute;
  left: 85px;
  top: 5px;
  color: $white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
}

.BasketItemImg img {
  width: 60px;
}

// .counter button {
//   width: 40px !important;
//   background-color: #0a0a0a;
//   color: #fff;
//   border: none;
//   font-size: 17px;
//   height: 40px;
//   cursor: pointer;
// }

.counter input {
  border: none;
  height: 40px;
  width: 40px;
  text-align: center !important;
  color: #fff;
  background-color: transparent;
  font-size: 17px;
}

.BasketTotal {
  margin-top: 50px;
  position: relative;
}

.Basket .TotalPrice {
  position: absolute;
  right: 0;
  bottom: 0;
}

// .SubmitButton {
//   width: 100%;
//   padding: 15px 18px;
//   border: none;
//   cursor: pointer;
//   background-color: #0a0a0a;
//   color: #fff;
// }

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.counter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.counter input[type="text"] {
  text-align: right;
}

/* 
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.Payment {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-gap: 4em;
  max-width: 1500px;
  margin: 0 auto;

  .SubmitButton {
    width: 100%;
    position: absolute;
    border-radius: 0 0 40px 0;
    left: 0;
    bottom: 0;
}
}

.PaymentDetails {
  padding: 45px;

  h1 {
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: 'Jost', sans-serif;
    margin-bottom: 35px;
  }

  .SubmitButton {
    width: 100px;
    background: transparent !important;
    position: absolute;
    border-radius: 0 0 40px 0;
    left: 75vw;
    bottom: 215px;
    z-index: 100;
}

}

.BasketDetails {
  padding: 45px;
  height: auto;
  background-color: $transparent;
  position: relative;

  h1 {
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 2px;
  font-family: 'Jost', sans-serif;
  margin-bottom: 35px;
  }
  
}

.BasketDetails ul {
  margin-left: -35px;
  list-style: none;
}

.ThankYou {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid #0a0a0a;
  padding: 25px;
}

label,
input {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

.form-control {
  margin-bottom: 10px;
}

#PaymentForm {
display: grid;
grid-template-columns: 1fr 1.3fr;
  padding: 30px 0;
  margin: auto;
}

.filternav {
  grid-column: 1/-1;
  margin-bottom: 0px;
  text-align: center;

  // 576px window width and more
    @include sm {

    }
// 992px window width and more
    @include lg {
      margin-bottom: 0px;
    }

}


.filternav button {
  margin-right: 25px;
  margin-bottom: 25px;

  // 992px window width and more
  @include lg {
    margin-bottom: 0px;
  }
}

/******FORM VALIDATION*****/

.error-message {
  color: #ff9f8f;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s max-height;
  display: block;
  max-height: 2rem;
  margin-top: -10px;
  margin-bottom: 25px;
  margin-left: 5px;
}

.hidden {
  display: none;
}

// input:not(:focus, :placeholder-shown):invalid ~ .error-message,
// #cardnumber.custom,
// #monthyear.custom {
//   max-height: 2rem;
// }

input:not(:focus, :placeholder-shown):valid {
  background-image: url("../valid.png");
  background-repeat: no-repeat;
  background-position: 95% 19px;
  background-size: 3.5%;
  border-color: rgb(94, 194, 94);
}

input:not(:focus, :placeholder-shown):invalid,
#cardnumber.custom,
#monthyear.custom {
  background-image: url("../invalid.png");
  background-repeat: no-repeat;
  background-position: 95% 19px;
  background-size: 3.5%;
  border-color: #f47e69;
  animation: shake 0.125s 2 backwards;
}

@keyframes shake {
  25% {
    transform: translateX(-6px);
  }
  75% {
    transform: translateX(6px);
  }
}

/* Popup style */
.popup-box {
  z-index: 999;
  position: fixed;
  background: $purple_transparent;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 50%;
  margin: 0 auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 45px;
  border: 1px solid #999;
  overflow: auto;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

