// Colors
$purple: #3e3d6e;
$black: #0a0a0a;
$transparent: rgba(255,255,255, 0.13);
$purple_transparent: rgba(37, 35, 74, 0.8);
$light_transparent: rgba(255,255,255, 0.35);
$light: #ebebeb;
$blue: #63c8ba;
$white: #ffffff;
$tealgradient: linear-gradient(149deg, rgba(99,200,186,1) 0%, rgba(62,167,153,1) 100%);

// Other
$border: 40px 40px 40px 0px;

