@import '../abstracts/variables';

//Submit button

.SubmitButton {
  width: 100%;
  padding: 18px 18px;
  border: none;
  cursor: pointer;
  background: rgb(99,200,186);
  background: linear-gradient(149deg, rgba(99,200,186,1) 0%, rgba(62,167,153,1) 100%);
  color: $white;
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
}

//Filter buttons
.filternav button {
  background-color: $transparent;
  padding: 12px 22px;
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
  font-weight: 500;
  font-size: 12.5px;
  letter-spacing: 0.59px;
  color: $white;
  border: none;
  border-radius: 20px 20px 20px 0 ;
}

.filternav button:hover {
  background-color: rgba(255,255,255, 0.2);
}

// .read_more_btn {
//   background-color: transparent;
//   border: none;
//   padding: 0;
//   font-family: 'Quicksand', sans-serif;
//   cursor: pointer;
// }

//Counter buttons
.Product {
  .counter {
    background-color: $purple;
    border-radius: 20px;
    padding: 2px 5px;
  }

  .counter button {
    width: 29px !important;
    background-color: transparent;
    color: $white;
    border: none;
    font-size: 17px;
    height: 40px;
    cursor: pointer;
  }  

  .counter span {
    margin-left: -9px;
    margin-top: 1px;
    text-align: center;
    width: 20px;
    font-family: 'Jost', sans-serif;
  }
}

.Basket {
  position: relative;
  padding-bottom: 130px;
}

.SubmitButton {
  width: 100% !important;
  position: absolute !important;
  margin: 0 !important;
  border-radius: 0 0 40px 0 !important;
  left: 0 !important;
  bottom: 0 !important;
}

.Basket_popup {
  .SubmitButton {
    height: 60px;
    bottom: 0px !important;
  }
}
