@import '../abstracts/variables','../abstracts/mixins';

body {
    background: radial-gradient(circle, #3e3d6e 62%, #25234a 100%);
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-y: scroll;
}
  
.App {
    padding: 45px;
}

main {
    display: block;
  
    // 1400px window width and more
    @include rwd(1400) {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 4em;
        max-width: 1500px;
        margin: 0 auto;
    }
}

