@import '../abstracts/variables';

// PAYMENT SITE

h1 {
  color: $white;
}

h3 {
  color: $white;
}

.BasketDetails {
  background-color: $transparent;
  color: $white;
  border-radius: $border;
  grid-area: basket;
}

.PaymentDetails {
  background-color: $transparent;
  color: $white;
  border-radius: $border;
  grid-area: paymentform;
}

.Payment {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "paymentform basket";
  grid-gap: 2em;
}
