@import '../abstracts/variables','../abstracts/mixins';

// PAYMENT SITE

.BasketDetails {
  color: $white;
  border-radius: $border;
  text-align: left;

  .total_container {
    bottom: 10px;
  }
}

.Payment {
  .BasketItemHeading {
    left: 85px;
    top: 5px;
    font-size: 15px;
  }

  .BasketItemPrice {
    top: 40px !important;
    right: 85px;

    // 992px window width and more
    @include rwd(1150) {
      top: 17px !important;
      right: 0px !important;
    }
  }
}

.rccs__card {
  height: 160px !important;
  width: 65vw !important;
  margin-left: -55px;
  position: relative !important;
  left: -2em !important;

    // 992px window width and more
    @include rwd(450) {
      height: 200px !important;
      width: 100% !important;
      left: 0 !important;
    }
  
}

.rccs__card--unknown > div {
  background: rgb(99,200,186);
  background: linear-gradient(149deg, rgba(99,200,186,1) -20%, rgba(62,167,153,1) 100%) !important;  
  box-shadow: none;
}

form {
  margin-top: 25px;
}

.card_container {
  padding: 40px 0;
}

.rccs__name {
  letter-spacing: 0.5px;
}

input:is([type="text"], [type="number"], [type="email"]) {
  color: #fff;
  // border: 1px solid #cacefc;
  border: none;
  background: $transparent;
      background-position-x: 0%;
      background-position-y: 0%;
      background-repeat: repeat;
      background-image: none;
      background-size: auto;
  padding: 15px 10px;
      padding-left: 10px;
  padding-inline: 12px;
  padding-left: 15px;
  border-radius: 7px;
  outline: 0;
  resize: none;
  transition: .1s background;
  font-family: Jost,sans-serif;
  letter-spacing: .5px;
  margin-bottom: 25px;
}

.form-control {
  position: relative;
}

.Payment label {
  color: $white;
  font-family: Jost,sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1.3px;
  margin-bottom: -55px;
  margin-left: 12px;
  padding: 2px 4px;
  height: 20px;
  width: auto !important;
  background-color: transparent;
  z-index: 100;
  position: absolute;
  top: -13px;
}

.Payment {
  display: block;
  margin: 0 auto;
  margin-top: -20px;

      // 992px window width and more
      @include rwd(900) {
        display: grid;
        grid-template-columns: 2.5fr 1fr;
        grid-gap: 4em;
        max-width: 1100px;
        margin-top: -50px;
      }
}

.PaymentDetails {
  padding: 45px;
  text-align: left;
  position: relative;
  background-color: $transparent;
  color: $white;
  border-radius: 50px 50px 50px 0px;

  h1 {
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: 'Jost', sans-serif;
    margin-bottom: 35px;
  }

  .SubmitButton {
    width: 100%;
    position: absolute;
    border-radius: 0 0 40px 0;
  }
}

.BasketDetails {
  padding: 45px;
  height: auto;
  background-color: $transparent;
  position: relative;

  h1 {
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 2px;
  font-family: 'Jost', sans-serif;
  margin-bottom: 35px;
  }
}

.BasketDetails ul {
  margin-left: -35px;
  list-style: none;
  padding: 50px 35px;
  padding-right: 0;
}

#PaymentForm {
  margin: auto;
  margin-top: -15px;
}

label,
input {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

input {
  color: $white;
}

.form-control {
  margin-bottom: 10px;
}


/******FORM VALIDATION*****/

.error-message {
  color: #ff9f8f;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s max-height;
  display: block;
  max-height: 2rem;
  margin-top: -10px;
  margin-bottom: 25px;
  margin-left: 5px;
}

.hidden {
  display: none;
}

input:not(:focus, :placeholder-shown):valid {
  background-image: url("../../valid.png");
  background-repeat: no-repeat;
  background-position: 95% 19px;
  background-size: 1em;
  border-color: rgb(94, 194, 94);
}

input[name="expiry"]:valid {
  background-position: 92% 19px;
}
input[name="cvc"]:valid {
  background-position: 88% 19px;
}

input:not(:focus, :placeholder-shown):invalid,
#cardnumber.custom,
#monthyear.custom {
  background-image: url("../../invalid.png");
  background-repeat: no-repeat;
  background-position: 95% 19px;
  background-size: 1em;
  border-color: #f47e69;
  animation: shake 0.125s 2 backwards;
}

input[name="expiry"]:invalid, #cvc.custom {
  background-position: 88% 19px;
}
input[name="cvc"]:invalid, #monthyear.custom {
  background-position: 88% 19px !important;
}


@keyframes shake {
  25% {
    transform: translateX(-6px);
  }
  75% {
    transform: translateX(6px);
  }
}

.back_btn {
  background: transparent;
  border: none;
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  cursor: pointer;
  letter-spacing: 1px;
  color: $white;
}

.back_btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.form-group {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 2em;
}

.payment_column {
  text-align: center;
  margin-top: 50px;

  h1 {
    margin-bottom: 40px;
    margin-top: -10px;
    font-size: 22px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Jost', sans-serif;
}

  // 992px window width and more
  @include rwd(900) {
    margin-top: 0px;
  }
}