@import '../abstracts/variables','../abstracts/mixins';

.filternav {
  padding-left: 0;
  grid-column: 1/-1;
  margin-bottom: 25px;
  text-align: center;

  @include rwd(580) {
    margin-bottom: 0px;
  }

  button {
    margin-right: 25px;
    margin-bottom: 25px;
  
    @include rwd(1150) {
      margin-bottom: 0px !important;
    }
  }
}

.product {
  background-color: $light;
  position: relative;
  min-height: 440px;
  border-radius: $border;
  margin-bottom: 25px;

  @include rwd(550) {
    margin-bottom: 0px;
  }
}

.counter {
  color: $white;
}

.product_price {
  color: $white;
}

.counter_number {
  color: $white;
}

.product_details {
  padding: 30px;

  h1 {
    margin-top: -40px;
    font-size: 18px;
    font-family: 'Jost', sans-serif;
    letter-spacing: 1px;
  }
}

.product_img img {
  width: 100%;
  border-radius: 50px 50px 0px 0px;
}

.basket_container {
  text-align: center;
  margin-top: 50px;
  display: none;

  @include rwd(1000) {
    display: block;
  }
  
  @include rwd(600) {
    margin-top: -2px;
  }

  h1 {
    margin-bottom: 50px;
    margin-top: 10px;
    font-size: 25px;
    color: $white;
    font-weight: 700;
    letter-spacing: 4px;
    font-family: 'Jost', sans-serif;
  }
}

.basket {
  text-align: left;
  background-color: $transparent;
  border-radius: 50px 50px 50px 0;
  padding: 45px;
  position: relative;
  
  p {
    margin-top: 25px;
    color: $white;
    opacity: 0.8;
  }

  h2 {
    font-size: 18px;
    color: $white;
    font-weight: 500;
    letter-spacing: 3px;
    font-family: 'Jost', sans-serif;
  }

  .clear_basket {
    position: absolute;
    top: 47px;
    right: 45px;

    button {
      background-color: transparent;
      border: none;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      font-size: 13px;
      color: $white;
      font-family: 'Jost', sans-serif;
      cursor: pointer;
    }
  }
}

.total_container {
  position: relative;
  bottom: -50px;

  .total {
    font-size: 16px;
    opacity: 1;
    font-weight: 600;
  }

  .total_amount {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    color: $white;
    font-weight: 600;
    font-family: 'Jost', sans-serif;
  }
}

.product_list {
  display: block;

    @include sm {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 4em;
    }

    @include rwd(1300) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 4em;
    }
}

.product_img img {
  cursor: pointer;
  width: 100%;
}

.product .counter {
  position: absolute;
  right: 35px;
  bottom: 35px;
}

.counter_number {
  position: relative;
  font-size: 18px;
  top: 5px;
  left: 15px;
}

.counter_number_basket {
  position: relative;
  top: 3px;
  left: 8px;
}

.product_price {
  position: absolute;
  left: 30px;
  bottom: 40px;
  font-size: 18px;
  color: $black;
  letter-spacing: 1px;
  font-family: 'Jost', sans-serif;
}

.basket ul {
  margin-left: -40px;
  list-style: none;
  margin-top: 35px;
}

.basket_item {
  position: relative;
  margin-bottom: 25px;

  .counter {
    position: absolute;
    top: 22px;
    left: 80px;
  }

  .counter button {
    background-color: transparent;
    border: none;
    color: $white;
    cursor: pointer;
    padding: 0;
    font-size: 17px;
    width: 25px;
  }

  .counter input {
    font-size: 15px;
    width: 25px;
  }

  .basket_item_price {
    position: absolute;
    top: 32px;
    right: 0px;
    font-size: 15px;
    letter-spacing: 1px;
    color: $white;
    opacity: 0.9;
    font-family: 'Jost',sans-serif;
  }
}

.basket_item img {
  display: block;
}

.basket_item_img {
  display: inline-block;
  margin-right: 20px;

  img {
    border-radius: 50%;
  }
}

.basket_item_heading {
  position: absolute;
  left: 85px;
  top: 5px;
  color: $white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
}

.basket_item_img img {
  width: 60px;
}

.counter .nounter_number_basket {
  border: none;
  text-align: center !important;
  color: #fff;
  background-color: transparent;
  font-size: 15px;
}

.basket_total {
  margin-top: 50px;
  position: relative;
}

.basket .total_price {
  position: absolute;
  right: 0;
  bottom: 0;
}

.counter {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.counter input[type="text"] {
  text-align: right;
}

.popup_box {
  z-index: 999;
  position: fixed;
  background: $purple_transparent;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  z-index: 1000;
  position: relative;
  width: 80%;
  margin: 0 auto;
  height: 60vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: $light;
  border-radius: 4px;
  border: 1px solid #999;
  overflow: auto;
display: block;
  border-radius: 50px 50px 50px 0;

.img_column {
  display: none;

  @include rwd(1000){
    display: block;
  }
}

  @include rwd(1000){
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-gap: 2em;
  }
}

.close_icon {
  content: "x";
  cursor: pointer;
  position: absolute;
  top: 45px;
  right: 45px;
  background: transparent;
  font-family: 'Jost', sans-serif;
  width: 25px;
  height: 25px;
  line-height: 20px;
  text-align: center;
  font-size: 25px;
}

.img_column img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.text_column {
  padding: 80px 45px;
  position: relative;

  .popup_alcohol {
    position: absolute;
    bottom: 35px;
    left: 45px;
    font-family: 'Jost', sans-serif;
    right: 45px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .popup_price {
    position: absolute;
    bottom: 35px;
    font-family: 'Jost', sans-serif;
    right: 45px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .popup_category {
    position: absolute;
    top: 115px;
    font-family: 'Jost', sans-serif;
    left: 45px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  h1 {
    margin-bottom: 75px;
  }
}

.basket_popup_box {
  z-index: 999;
  position: fixed;
  background: $purple_transparent;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.basket_box {
  z-index: 1000;
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-top: calc(100vh - 85vh - 20px);
  background: $light;
  border-radius: 4px;
  overflow: auto;
  border-radius: 50px 50px 50px 0;
  padding: 45px;
  height: 70vh;

  .total_container .total_amount {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 16px;
    color: $black;
    font-weight: 600;
    font-family: 'Jost', sans-serif;
  }

  .basket_item_heading {
    color: $black;
    font-size: 15px;
  }

  .basket_item .basket_item_price {
    color: $black;
  }

  .counter {
    position: absolute;
    left: 55px !important;
  }

  .counter button {
    display: none;
  }

  ul {
    margin-left: -40px;
    list-style: none;
    margin-top: 35px;
  }

  .counter {
    position: absolute;
    top: 22px;
    left: 50px;
  }
}

.basket_close {
  content: "x";
  cursor: pointer;
  position: absolute;
  top: 45px;
  right: 45px;
  background: transparent;
  font-family: 'Jost', sans-serif;
  width: 25px;
  height: 25px;
  line-height: 20px;
  text-align: center;
  font-size: 25px;
}

.dashboard_navigation .clear_basket button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 13px;
  color: $black;
  font-family: 'Jost', sans-serif;
  cursor: pointer;
  display: none;
  }
