@import '../abstracts/variables','../abstracts/mixins';

.ThankYou {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 12vh;
    min-height: 40vh;
    background-color: $transparent;
    border-radius: 50px 50px 0 50px;
    padding: 45px;
    position: relative;
    text-align: center;

      // 992px window width and more
      @include rwd(550) {
        margin-top: 15vh;
      }

    .thankyou_content {
      margin-top: 80px;
      margin-bottom: 50px;

      // 992px window width and more
      @include rwd(550) {
        margin-top: 80px;
      }
    }

    h1 {
      margin-bottom: 30px;
      font-size: 35px;
      color: $white;
      font-weight: 700;
      letter-spacing: 3px;
      font-family: 'Jost', sans-serif;
      display: block;
    }

    h3 {
      display: block;
      color: $white;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      position: absolute;
      top: 50px;
      right: 50px;
    }

    p {
      color: $white;
      font-size: 16px;
      width: 220px;
      margin: 0 auto;

      // 992px window width and more
      @include rwd(550) {
        width: 320px;
      }
    }

    .thankyou_btn {
      background: transparent;
      border: none;
      font-family: 'Jost', sans-serif;
      font-size: 16px;
      cursor: pointer;
      letter-spacing: 1px;
      color: $white;
      margin-top: 35px;
    }
  }