.App {
  padding: 25px;
}

nav {
  height: 60px;
}

nav a {
  margin-right: 25px;
}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 2em;
  max-width: 1500px;
  margin: 0 auto;
}

.ProductList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
}

.Product {
  padding: 25px;
  position: relative;
  height: 600px;
  border: 1px solid #0a0a0a;
}

.filternav {
  padding-left: 0;
}

.filternav button {
  padding: 5px 18px;
  border: none;
  color: #fff;
  background-color: #0a0a0a;
  cursor: pointer;
}

.product_img img {
  width: 100%;
}

.Product .counter {
  position: absolute;
  left: 30px;
  bottom: 35px;
}

.ProductPrice {
  position: absolute;
  right: 40px;
  bottom: 40px;
  font-size: 18px;
}

.Basket {
  background-color: #fff;
  border: 1px solid #0a0a0a;
  padding: 25px;
  position: relative;
}

.Basket ul {
  margin-left: -35px;
  list-style: none;
}

.BasketItem {
  position: relative;
  margin-bottom: 25px;
}

.BasketItem img {
  display: block;
}

.BasketItemImg {
  display: inline-block;
  margin-right: 20px;
  }

.BasketItemHeading {
  position: absolute;
  left: 85px;
  top: -5px;
}

.BasketItemImg img {
  width: 60px;
}

.counter button {
  width: 40px !important;
  background-color: #0a0a0a;
  color: #fff;
  border: none;
  font-size: 17px;
  height: 40px;
  cursor: pointer;
}

.counter input {
  border: none;
  height: 40px;
  width: 40px;
  text-align: center !important;
  background-color: transparent;
  font-size: 17px;
}

.BasketTotal {
  margin-top: 50px;
  position: relative;
}

.Basket .TotalPrice {
  position: absolute;
  right: 0;
  bottom: 0;
}

.SubmitButton {
  width: 100%;
  padding: 15px 18px;
  border: none;
  cursor: pointer;
  background-color: #0a0a0a;
  color: #fff;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.counter {
  display: grid;
  grid-template: auto / 3em 3em 3em;
}

.counter input[type="text"] {
  text-align: right;
}

/* 
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.Payment {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2em;
  max-width: 1500px;
  margin: 0 auto;
}

.PaymentDetails {
  border: 1px solid #0a0a0a;
  padding: 25px;
}

.BasketDetails {
  border: 1px solid #0a0a0a;
  padding: 25px;
}

.BasketDetails ul {
  margin-left: -35px;
  list-style: none;
}

.ThankYou {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid #0a0a0a;
  padding: 25px;
}

label,
input {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

.form-control {
  margin-bottom: 10px;
}

#PaymentForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 30px;
  margin: auto;
}

.filternav {
  grid-column: 1/-1;
}

.filternav button {
  margin-right: 25px;
}

input:invalid:not(:placeholder-shown, :focus) {
  /* background-image: url('../../img/invalid.png'); */
  background-repeat: no-repeat;
  background-position: 95% 19px;
  background-size: 3.5%;
  border-color:#F48D69;
  animation: shake .125s 2 backwards;
}

@keyframes shake {
  25% {
      transform: translateX(-6px);
  }
  75% {
      transform: translateX(6px);
  }
}